.about-cointainer{
   
}
.about-content{
    height: 100vh;
    background-color: var(--primary-color);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.grp-img{
    flex: 1;
}