.about-cointainer{
   visibility: hidden;
   width: 100vw;
}
.about-content{
    height: 100vh;
    background-color: var(--primary-color);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
   
}
.about-content::after{
    background: #FFD74A;
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 15;
}
.grp-img{
    flex: 1;
}

// .about-cointainer-mobile{
//     visibility: hidden;
//     width: 100vw;
//  }
 .about-content-mobile{
     height: auto;
     background-color: var(--primary-color);
     z-index: 100;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
    
 }
 .about-content-mobile::after{
     background: #FFD74A;
     content: '';
     position: absolute;
     right: 0;
     width: 100%;
     height: 120vh;
     z-index: 15;
 }
.grp-img-mobile{
    flex:1;
    justify-content: center;
    align-self: center;
    height: 40vh;
}
.img-container-mobile{
    align-self: center;
    display: flex;
    align-items: center;
}