.slides-container {
    // position: relative;
    overflow: hidden;  
    display: flex;
    justify-content: center;
    flex: 1;
    z-index: 20;
  }
  .slide {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: calc(100% / 3);
    width: 55vw;
  }
  
  .slides-inner {
    position: relative;
    height: 100%;
    width: 100%;  
    overflow: hidden;
  }

  .control-btn p{
    z-index: 20;
    cursor: pointer;
    font-size: 80px;
    width: 40vw;
  }


////////////////////////////////////////////////////
////////////////////////////////////////////////////

////////////////////////////////////////////////////

////////////////////////////////////////////////////

//////////////////////////
//////////////////////////
//////////////////////////


  .number-container{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    z-index: 20; 
}
.number-container-mobile{
  display: flex;
  flex-direction: column;
  justify-content: center;    
}
.control-btn{
    display: flex;
    flex-direction: column;
}
.control-btn-mobile{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.control-btn-mobile >p{
  font-size: 52px;
}
.numb-active{
    font-size: 150px;
    color: var(--primary-color);
}
.numb-default{
    font-size: 150px;
    color: var(--secondary-color);
}

.funding-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.funding-tilte{
    font-size: 73px;
}
.funding-name{
    color: var(--primary-color);
    font-size: 40px;
}

.featured-data div {
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 20px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #8A8A8A ;
}

// .ant-carousel .slick-dots li button{
//   display: block;
//   font-size: 150px;
// }