.main{
    height: 50vh;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    top: 10;
    left: 0;
}
.wave-container{
  // position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.wave{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    width: 50vw;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.wave-mobile{
    position: absolute;
    top: 10;
    left: 0;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
